################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/electricallibrary.metadata.v10.bin
/.vs/ProjectEvaluation/electricallibrary.projects.v10.bin
/.vs/ProjectEvaluation/electricallibrary.strings.v10.bin
/.vs/ProjectEvaluation/electricallibrary.metadata.v10.bin
/.vs/ProjectEvaluation/electricallibrary.projects.v10.bin
/.vs/ProjectEvaluation/electricallibrary.strings.v10.bin
